:root {
	--line-button-color-ps: #bb8d62;
	--text-color-ps: #ffffff;
	--button-text-color-ps: #000000;
	--button-hover-background-ps: #ffffff;
	--button-hover-text-ps: #000000;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.cps-card {
	background-image: url("../../../img/matrix-concept-black-white-background-2409372.jpeg");
	background-size: cover;
	padding: 12rem 0 0;
	max-width: 35ch;
	height: 100%;
	color: var(--text-color-ps);

	border-radius: 1em;

	transition: 450ms ease-in-out;
	overflow: hidden;
}

.cps-card:hover,
.cps-card:focus-within {
	transform: scale(1.05);
}

.cps-card-content {
	--padding-ps: 1.5rem;
	padding: var(--padding-ps);
	background: linear-gradient(
		hsl(0 0% 0% / 0),
		hsl(0 0% 0% / 0.7) 10%,
		hsl(0 0% 0% / 0.94)
	);
}

.cps-title {
	position: relative;
	width: max-content;
}

.cps-title::after {
	content: "";
	position: absolute;
	height: 4px;
	left: calc(var(--padding-ps) * -1);
	bottom: -2px;
	width: calc(100% + var(--padding-ps));
	background-color: var(--line-button-color-ps);

}

.cps-button {
	cursor: pointer;
	text-decoration: none;
	color: var(--button-text-color-ps);

	display: inline-block;
	background-color: var(--line-button-color-ps);
	font-size: 20px;
	padding: 0.10em 0.5em;

	border-radius: 0.5em;

	transition: 600ms ease-in-out;

	width: 100%;
	text-align: center;
}

.cps-button:hover,
.cps-button:focus {
	background-color: var(--button-hover-background-ps);
	color: var(--button-hover-text-ps);
}

.cps-content {
	padding: 20px 0;
}

@media (hover) 
{
	.cps-card-content {
		transform: translateY(70%);
		transition: transform 500ms ease-in-out;
	}
	.cps-card:hover .cps-card-content,
	.cps-card:focus-within .cps-card-content {
		transform: translateY(0);
		transition-delay: 450ms;
	}

	.cps-card:focus-within .cps-card-content {
		transition-duration: 0ms;
	}

	.cps-card-content > *:not(.cps-title) {
		opacity: 0;
		transition: opacity 450ms ease-in;
	}

	.cps-card:hover .cps-card-content > *:not(.cps-title),
	.cps-card:focus-within .cps-card-content > *:not(.cps-title) {
		opacity: 1;
		transition-delay: 860ms;
	}

	.cps-card:focus-within .cps-card-content > *:not(.cps-title) {
		transition-delay: 400ms;
	}

	.cps-title::after {
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 500ms ease;
	}

	.cps-card:hover .cps-title.cps-title::after,
	.cps-card:focus-within .cps-title.cps-title::after {
		transform: scaleX(1);
	}
}

@media (prefers-reduced-motion: reduce)
{
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms
		!important;
		animation-iteration-count: 1
		!important;
		transition-duration: 0.01ms
		!important;
		scroll-behavior: auto !important;
		transition-delay: 0ms !important;
	}
}