* {
	margin: 0;
	padding: 0;
}

.a-container {
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background-color: rgb(53, 50, 56);
	/* background-color: #0e1111; */
}

.a-text-box {
	background-color: rgb(255, 238, 214);
	width: 80%;
	height: 80%;
	margin: 6rem 10rem;
	border-radius: 1em;

	display: flex;

	flex-direction: column;
}

.a-text-image {
	display: flex;

	flex-direction: row;
	height: 100%;
}

.a-title {
	padding: 20px 0;
	font-size: 30px;
	font-weight: bold;
	color: #bb8d62;

	display: flex;
	justify-content: center;
}

.a-selector {
	padding-bottom: 40px;

	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.a-selector-title {
	padding-bottom: 10px;
	color: #565656;
	font-weight: 300;
}

.a-selector-input {
	display: flex;

	justify-content: space-between;
	color: #565656;
}

input[type="radio"] {
	appearance: none;
	background-color: rgb(255, 238, 214);
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid #bb8d62;
	border-radius: 50%;
	display: grid;
	place-content: center;
}

input[type="radio"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	background-color: #bb8d62;
}
  
  input[type="radio"]:checked::before {
	transform: scale(1);
  }

.a-selector-shortest {
	display: flex;

	flex-direction: column;
	align-items: center;
}

.a-selector-longest {
	display: flex;

	flex-direction: column;
	align-items: center;
}

.a-selector-text {
	opacity: 30%;
}

.a-text {
	padding: 0 25px;
	color: #565656;

	font-size: 18px;
	text-align: center;
}

.a-image-container {
	width: 50%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.a-image {
	width: 80%;
	height: 80%;
	object-fit: cover;
	border-radius: 1em;
}
